---

---

<div
  class="hero min-h-[calc(100vh-96px)]"
  style="background-image: url(/images/heroSection.webp);"
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-montserratExtraBold">TECNA</h1>
      <p class="mb-5 font-montserratRegular">
        Soluciones de desarrollo web y móvil personalizadas para impulsar la transformación digital de tu empresa. 
      </p>
      <button class="btn bg-[#E32E3A] text-white border-none font-montserratBold text-2xl" >Contacto</button>
    </div>
  </div>
</div>