---

---

<div class="container mx-auto px-[150px] py-[50px]">
    <div class="flex flex-row">
      <div class=" w-1/2  flex items-center justify-center flex-col ">
            <h1 class="font-montserratBold text-[35px] mb-[15px]">TECNA</h1>
            <p class="font-montserratRegular text-[15px] text-center">TECNA es una empresa que ofrece soluciones de desarrollo web y móvil personalizadas para empresas, facilitando su transformación digital. 
                 Nos diferenciamos por nuestra innovación, adaptabilidad y compromiso con el cliente, ofreciendo servicios accesibles desde cualquier parte del mundo. </p>
    </div>
      <div class=" w-1/2 flex items-center justify-center"><img  class="w-[400px]" src="/images/devs.svg" alt=""></div>
    </div>
  </div>