---
import Facebook from "../IconsContact/Facebook.astro";
import Instagram from "../IconsContact/Instagram.astro";
import Tiktok from "../IconsContact/Tiktok.astro";
import WA from "../IconsContact/WA.astro";


---

<div id="contacto" class="relative flex items-top justify-center  bg-white dark:bg-gray-900 sm:items-center sm:pt-0  ">
    <div class=" mx-auto">
        <div class="mt-8 overflow-hidden">
            <div class="grid grid-cols-1 md:grid-cols-[45%_55%]">
                <div class="p-6 mr-2 w-[365px] bg-gray-100 dark:bg-gray-800 sm:rounded-lg my-[50px]  sm:ml-[65%] z-[999] shadow-xl">
                    <h1 class="text-4xl sm:text-[35px] text-gray-800 dark:text-white font-montserratExtraBold tracking-tight">
                        CONTACTANOS
                    </h1>
                    <p class="text-text-[12px] text-lg sm:text-[15px] font-montserratBold text-gray-600 dark:text-gray-400 mt-2">
                        
                    </p>

                    <div class="flex items-center  mt-8 text-gray-600 hover:text-[#000] dark:text-gray-400">
                       <img class="w-[15px]" src="/icons/userContact.svg" alt="">
                        <div class="ml-4 text-[15px] tracking-wide font-montserratBold w-40">
                           <a href=""> Angel Alvarado</a>
                        </div>
                    </div>

                    <div class="flex items-center mt-4 text-gray-600 hover:text-[#000] dark:text-gray-400">
                        <img class="w-[15px]" src="/icons/phone-solid.svg" alt="">
                        <div class="ml-4 text-[15px] tracking-wide font-montserratBold w-40">
                            <a href="tel:+50246521579">+502 46521579</a>
                            
                        </div>
                    </div>

                    <div class="flex items-center mt-2 text-gray-600 hover:text-[#000] dark:text-gray-400">
                        <img class="w-[15px]" src="/icons/envelope-solid.svg" alt="">
                        <div class="ml-4 text-[15px] tracking-wide font-montserratBold w-40">
                            <a href="mailto:angelalvarado0098@gmail.com">angelalvarado0098@gmail.com</a>
                            
                        </div>
                    </div>
                    <div class="flex items-center mt-[15px] text-[#000] hover:text-[#000] dark:text-gray-400">
                        <div class="ml-4 text-[15px] tracking-wide font-montserratBold">
                          <h3>Puedes encontrarno en:</h3> 
                          <ul class="menu menu-horizontal rounded-box">
                            <li class="group">
                              <a>
                                <Facebook width="12px" color="#000" active="white"/>
                              </a>
                            </li>
                            <li class="group">
                              <a href="https://www.instagram.com/tecnagt/" target="_blank">
                               <Instagram width="19px" color="#000" active="white"/>
                              </a>
                            </li>
                            <li class="group">
                              <a href="https://www.tiktok.com/@tecnagt" target="_blank">
                                <Tiktok width="17px" color="#000" active="white"/>
                              </a>
                            </li>
                          </ul>
                        </div>
                    </div>

                    <div class="flex items-center mt-[15px] text-[#000] hover:text-[#000] dark:text-gray-400">
                        <div class="ml-4 text-[15px] tracking-wide font-montserratBold">
                          <h3 class="mb-[15px] "> Contactanos directamente a nuestro WhatsApp</h3> 
                            <!-- Botón de WhatsApp -->
                            <a href="https://wa.me/+50246521579?text=Te%20estás%20comunicando%20con%20TECNA" 
                            class="group font-montserratBold inline-flex items-center px-4 py-2 bg-green-500 text-white font-medium rounded-lg transition-colors border duration-300 hover:bg-transparent hover:text-green-500 hover:border hover:border-green-500"
                            target="_blank"
                            >
                            <WA width="17px" color="#fff" active="#00c951"/>  
                            Contactar
                            </a>
                        </div>
                    </div>
                </div>

                <div class="p-6 flex flex-col justify-center bg-[url('/images/contacato.webp')] bg-no-repeat bg-center bg-cover h-[200px] w-full sm:h-[100%] sm:w-[1150px]">
                    
                </div>

            </div>
        </div>
    </div>
</div>