---
import Facebook from "../IconsContact/Facebook.astro";
import Instagram from "../IconsContact/Instagram.astro";
import Tiktok from "../IconsContact/Tiktok.astro";
import LogoT from "../LogoT/LogoT.astro";


---

<footer class="footer sm:footer-horizontal bg-[#fcfcfc] items-center p-4 px-[150px]">
    <aside class="grid-flow-col items-center">
        <a href="/"><LogoT width="85px" height="100%"/></a>
       
      <p class="ml-[15px]">Copyright © {new Date().getFullYear()} - All right reserved</p>
    </aside>
    <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
      <ul class="menu menu-horizontal rounded-box">
        <li class="group">
          <a>
            <Facebook width="12px" color="#000" active="white"/>
          </a>
        </li>
        <li class="group">
          <a href="https://www.instagram.com/tecnagt/" target="_blank">
           <Instagram width="19px" color="#000" active="white"/>
          </a>
        </li>
        <li class="group">
          <a href="https://www.tiktok.com/@tecnagt" target="_blank">
            <Tiktok width="17px" color="#000" active="white"/>
          </a>
        </li>
      </ul>
    </nav>
  </footer>