---

---

<div class="container mx-auto px-[150px] py-[50px] bg-[#fcfcfc]">
    <div class="flex flex-row gap-6">
        <div class="card w-1/2 bg-base-100 card-lg shadow-sm">
            <div class="card-body">
                <div class=" flex items-center justify-center flex-col">
                    <h1 class="font-montserratBold text-[35px] mb-[15px] card-title">Misión</h1>
                    <p class="font-montserratRegular text-[15px] text-center">
                        Brindar soluciones tecnológicas innovadores, eficientes en
                        desarrollo web y móvil, facilitando la transformación digital de
                        empresas mediante resultados concretos, personalizados y
                        accesibles desde cualquier parte del mundo.
                    </p>
                </div>
            </div>
          </div>
          <div class="card w-1/2 bg-base-100 card-lg shadow-sm ">
            <div class="card-body">
                <div class=" flex items-center justify-center flex-col">
                    <h1 class="font-montserratBold text-[35px] mb-[15px] card-title">Visión</h1>
                    <p class="font-montserratRegular text-[15px] text-center">
                        Convertirnos en una empresa líder en el desarrollo digital en
                        Centroamérica, reconocida por su innovación, confiabilidad y
                        compromiso con el crecimiento tecnológico de nuestros clientes.
                    </p>
                </div>
            </div>
          </div>

    </div>
</div>


